body{
    background-color: rgb(238, 238, 213);
}
h1 {
    color: darkblue;
}
.job-title{
    color: grey;
    background-color: blue;
}

#high{
    color: rgb(2, 2, 163);
}

.black{
    background-color: black;
    color: white;
}